/* Importando as fontes */

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* Variáveis de cor */ 

:root {

   --corDeFundo: #39426d;
   --corContainer: #2B2B2B;
   --corDestaques: #45F9C6; 
   --corRodape: #45f9c634;
   --corTexto: #f2f2f2;
}

/* Reset CSS*/

* {
   margin: 0;
   border: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 100%;
   text-decoration: none;
}

/* Estilos para a tela principal */

body {
   width: 100%;
   height: 100vh;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

   background-color: var(--corDeFundo);
   color: var(--corTexto);

   font-family: "Lato", sans-serif;
   font-size: small;
   font-weight: 300;
}


/* Estilos para o container de conteúdo */

.container {
   width: 360px;
   height: auto;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   border: 3px solid var(--corDestaques);
   border-radius: 20px;

   background-color: var(--corContainer);

   margin-top: 15%;
}


/* Estilos para o cabecalho */

.header {
   width: 321px;
   height: 50px;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
}

.header > nav {
   width: 100%;
   height: 100%;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.header > nav > a {
   width: auto;
   height: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   font-family: "Do Hyeon", sans-serif;
   color: var(--corDestaques);
   font-size: small;
   font-weight: 300;
}
.headerLinkFlap {
   width: 100%;
   height: auto;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.headerLinkFlap > img {
   width: auto;
   height: 20px;
}

.headerLinkTag {
   width: 100%;
   height: 3px;

   border-radius: 1.5px;

   background-color: var(--corContainer);
}

.headerLinkTagActive {
   background-color: var(--corDestaques);
}

/* Estilos para o conteúdo principal */

.main {
   width: 321px;
   height: auto;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5px;

   margin-top: 10px;
   margin-bottom: 10px;
}

.mainBlock {
   width: 100%;
   height: auto;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

/* Estilos especificos para criar o efeito de borda movimentada para a foto de perfil */ 

#mainBlockImage {
width: 100%;
height: 260px;

display: relative;
}

#profileImageContent {
   position: absolute;

   z-index: 10;
}

#profileImage {
   width: 250px;
   height: auto;

   border-radius: 20px;
}

#profileImageBorder {
   width: 250px;
   height: 250px;

   position: absolute;

   border: 3px solid var(--corDestaques);
   border-radius: 20px;

   transform: translate(10px, -10px);
}

/* Estilos especificos para cria o efeito de sombra na foto da aba habilidades */

#mainBlockHabilidades {
   width: 100%;
   height: 160px;
   
   display: relative;

   margin-bottom: 10px;
   }
   
   #habImageContent {
      position: absolute;
   
      z-index: 10;
   }
   
   #habImage {
      width: 150px;
      height: auto;
   
      border-radius: 75px;
   }
   
   #habImageBorder {
      width: 150px;
      height: 150px;
   
      position: absolute;
   
      border: 3px solid var(--corDestaques);
      border-radius: 75px;
   
      transform: translate(-10px, 10px);
      background-color: var(--corDestaques);
   }

   
   /* Estilos especificos para cria o efeito de borda arrastada nas fotos da aba projetos*/

.mainBlockProjetos {
   width: 100%;
   height: 160px;
   
   display: relative;

   margin-bottom: 10px;
   }
   
   #projImageContent {
      position: absolute;
   
      z-index: 10;
   }
   
   #projImage {
      width: 300px;
      height: auto;
   
      border-radius: 20px;
   }
   
   #projImageBorder {
      width: 300px;
      height: 150px;
   
      position: absolute;
   
      border: 3px solid var(--corDestaques);
      border-radius: 20px;
   
      transform: translate(10px, 10px);
   }

   

/* Estilos para o bloco de texto principal */

#mainBlockTextTitle {
   width: 100%;
   height: auto;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

#mainBlockTextTitle > h1 {
   font-family: "Do Hyeon", sans-serif;
   font-weight: 600;
   font-size: x-large;
}

#lightText {
   color: var(--corDestaques);
}

#mainBlockTextContent > p {
   font-size: small;
   text-align: justify;

   margin: 5px 0px 5px 0px;
}

#mainBlockTextPage {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;

   width: 100%;
}

.textPage {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 10px;

   font-size: x-small;
   text-align: justify;
   margin-top: 10px;
}

.textPage > img {
   width: 30px;
}

/* Estilos para o bloco de links */

#mainBlockLinks {
   margin: 15px 0px 15px 0px;
   gap: 20px;
}

#mainBlockLinks > h3 {
   font-family: "Do Hyeon", sans-serif;
   font-weight: 500;
   font-size: medium;
}

#mainBlockLinks > a {
   color: var(--corDestaques);
   font-family: "Do Hyeon", sans-serif;
   font-weight: 500;
   font-size: medium;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 10px;

   border: 1px solid var(--corDestaques);
   border-radius: 10px;

   width: 180px;
   height: 40px;
}

#mainBlockLinks > a:hover {
   background-color: var(--corDeFundo);
}

.mainLink > img {
   width: auto;
   height: 30px;
}

/* Estilos para o rodapé */

.footer {
   width: 360px;
   height: auto;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;

   border-top: 3px solid var(--corRodape);
   
   margin-bottom: 10px;
}

#footerText {
   margin-top: 20px;
}


#footerText > h4 {
   font-size: xx-small;
   font-weight: 300;
}

.mensagem1, .mensagem2, .mensagem3, .mensagem4 {
   display: flex;
   position: absolute;
   justify-content: center;
   align-items: center;
   background-color: var(--corDestaques);
   width: 300px;
   height: 30px;
   border-radius: 20px;
   top: 120px;
   color: var(--corDeFundo);
   font-size: small;
   font-weight: 600;
}

/* Ajuste dos estilos para layouts acima de 1000px */

@media screen and (min-width: 1000px) {
   /* Estilos para a tela principal */

   body {
      
      justify-content: center;
      
      font-size: medium;
   }


   /* Estilos para o container de conteúdo */

   .container {
      width: 1000px;
      height: auto;

      margin-top: 0;
   }


   /* Estilos para o cabecalho */

   .header {
      width: 900px;
      height: 70px;

      margin-top: 10px;
   }

   .header>nav {
      
      gap: 50px;
   }

   .header>nav>a {
   
      font-size: medium;
      
   }


   .headerLinkFlap>img {
      width: auto;
      height: 30px;
   }


   /* Estilos para o conteúdo principal */

.main {
   width: 900px;
   height: auto;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 50px;

   margin-top: 10px;
  
}

.mainBlock {
   width: 450px;
   height: auto;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

.mainBlockHabilidades {
   width: 600px;

   margin-bottom: 20px;
}

/* Estilos especificos para criar o efeito de borda movimentada para a foto de perfil */ 

#mainBlockImage {
width: 100%;
height: 360px;

display: relative;
}

#profileImageContent {
   position: absolute;

   z-index: 10;
}

#profileImage {
   width: 350px;
   height: auto;

   border-radius: 20px;
}

#profileImageBorder {
   width: 350px;
   height: 350px;

   position: absolute;

   border: 3px solid var(--corDestaques);
   border-radius: 20px;

   transform: translate(10px, -10px);
}


   /* Estilos especificos para cria o efeito de borda arrastada nas fotos da aba projetos*/

.mainBlockProjetos {
   width: 100%;
   height: 160px;
   
   display: relative;

   margin-bottom: 10px;
   }
   
   #projImageContent {
      position: absolute;
   
      z-index: 10;
   }
   
   #projImage {
      width: 300px;
      height: auto;
   
      border-radius: 20px;
   }
   
   #projImageBorder {
      width: 300px;
      height: 150px;
   
      position: absolute;
   
      border: 3px solid var(--corDestaques);
      border-radius: 20px;
   
      transform: translate(10px, 10px);
   }

   

/* Estilos para o bloco de texto principal */


#mainBlockTextContent > p {
   font-size: medium;
   
}

#mainBlockTextPage {
   
   gap: 20px;

}

.textPage {
  
   gap: 20px;

   font-size: small;
   
}

.textPage > img {
   width: 40px;
}

#pageHabilidades {
   width: 300px;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 100px;
}

#mainProjetos {
   flex-direction: column;

   margin-bottom: 20px;
}

.pageProjetos {
   display: flex;

   flex-direction: row;
   gap: 400px;
}

/* Estilos para o bloco de links */

#mainBlockLinks {
   margin: 15px 0px 15px 0px;
   gap: 20px;
}

#mainBlockLinks > h3 {
   font-family: "Do Hyeon", sans-serif;
   font-weight: 500;
   font-size: medium;
}

#mainBlockLinks > a {
   color: var(--corDestaques);
   font-family: "Do Hyeon", sans-serif;
   font-weight: 500;
   font-size: medium;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 10px;

   border: 1px solid var(--corDestaques);
   border-radius: 10px;

   width: 180px;
   height: 40px;
}

.mainLink > img {
   width: auto;
   height: 30px;
}


   /* Estilos para o rodapé */

.footer {
   width: 1000px;
   height: auto;

   flex-direction: row;

   gap: 60px;

}


#footerImage > img {
   height: 50px;
   width: auto;
}

#footerText > h4 {
   font-size: x-small;
}


   
}